<div class="fixed-plugin">
  <div class="dropdown show-dropdown">
    <a href="#" data-toggle="dropdown">
      <i class="fa fa-cog fa-2x"> </i>
    </a>
    <ul class="dropdown-menu">
      <li class="header-title">Sidebar Background</li>
      <li class="adjustments-line">
        <a href="javascript:void(0)" class="switch-trigger background-color">
          <div class="badge-colors text-center">
            <span class="badge filter badge-primary active" data-color="primary"></span>
            <span class="badge filter badge-info" data-color="blue"></span>
            <span class="badge filter badge-success" data-color="green"></span>
          </div>
          <div class="clearfix"></div>
        </a>
      </li>
      <li class="adjustments-line text-center color-change">
        <span class="color-label">LIGHT MODE</span>
        <span class="badge light-badge mr-2"></span>
        <span class="badge dark-badge ml-2"></span>
        <span class="color-label">DARK MODE</span>
      </li>
      
      {% comment %} <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">My Planets</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table tablesorter" id="">
                  <thead class="text-primary">
                    <tr>
                      <th class="text-center">ID</th>
                      <th>Name</th>
                      <th>Iron</th>                      
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="planet in planets" :key="planet.id">
                      <td>${planet.id}</td>
                      <td>${planet.name}</td>
                      <td>${planet.iron.current_iron}</td>
                      <td><button class="btn" @click="selectPlanet(planet)">Select Planet</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="selectedPlanet">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">${selectedPlanet.name}</h5>
                <p class="category"><a href="">${selectedPlanet}</a></p>
                <p class="category"><a href="">${selectedPlanet.iron.current_iron}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      
    </ul>
  </div>
</div>

{% comment %} {% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.min.js"></script>

<script>
  var fixedPlugin = new Vue({
    delimiters: ["${", "}"],
    el: "#fixedPlugin",
    data: {
      players: [],
      selectedPlayer: null,
      selectedPlanet: null,
    },
    mounted() {
      this.fetchCurrentPlayer();
    },
    methods: {
      fetchCurrentPlayer() {
        axios
          .get('{% url "api:users-list" %}')
          .then((response) => {
            this.players = response.data;
            if (this.players.length > 0) {
              this.selectedPlayer = this.players[0].current_player;
              if (this.selectedPlayer.planets.length > 0) {
                this.selectedPlanet = this.selectedPlayer.planets[0];
              }
            }
          })
          .catch((error) => {
            console.error(error);
          });
      },
      selectPlanet(planet) {
        this.selectedPlanet = planet;
      },
    },
  });
</script>

{% endblock javascripts %} {% endcomment %}
