<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  var app = new Vue({
    delimiters: ["${", "}"],
    el: "#app",
    data: {
      planets: [],
      selectedPlanet: null,
      planetDetails: null,
      loading: true, // Estado de carregamento
      players: []
    },
    mounted() {
      this.fetchPlayerPlanets();
    },
    methods: {
      fetchPlayerPlanets() {
        this.loading = true; // Inicia o carregamento
        axios
          .get('{% url "api:users-list" %}')
          .then((response) => {
            const currentPlayer = response.data[0].current_player;
            this.planets = currentPlayer.planets;
            const currentPlanetId = currentPlayer.current_planet;
            this.fetchPlanetDetails(currentPlanetId);
          })
          .catch((error) => {
            console.error(error);
          })
          .finally(() => {
            this.loading = false;
          });
      },
      fetchPlanetDetails(planetId) {
        this.loading = true;
        axios
          .get(`/api/v1/planets/${planetId}/`)
          .then((response) => {
            this.planetDetails = response.data;
            this.selectedPlanet = response.data;
          })
          .catch((error) => {
            console.error(error);
          })
          .finally(() => {
            this.loading = false;
          });
      },
      selectPlanet(planet) {
        this.loading = true;
        axios
          .get(planet.urls.select)
          .then((response) => {
            this.selectedPlanet = response.data;
            this.fetchPlanetDetails(planet.id);
          })
          .catch((error) => {
            console.error(error);
          })
          .finally(() => {
            this.loading = false;
          });
      },
      formatIron(value) {
        return numeral(value).format('0.[0]a'); // Exemplo: 1k, 1.5k, 1M, etc.
      },
      formatIron(value) {
        if (value >= 1000000) {
          return (value / 1000000).toFixed(1) + 'M'; // Exemplo: 1.5M
        } else if (value >= 1000) {
          return (value / 1000).toFixed(1) + 'k'; // Exemplo: 1.5k
        } else {
          return value; // Menor que 1000, exibe normalmente
        }
      }
    },
  });
</script>