{% extends "layouts/base.html" %} {% block title %} Players {% endblock %} {% block stylesheets %}
<style>
  .table-responsive {
    overflow-x: hidden;
    overflow-y: hidden;
  }
</style>
{% endblock stylesheets %} {% block content %}

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">My Planets</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter" id="">
              <thead class="text-primary">
                <tr>
                  <th class="text-center">ID</th>
                  <th>Name</th>
                  <th>Iron</th>
                  <th>Home Planet</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="planet in planets" :key="planet.id">
                  <td>${planet.id}</td>
                  <td>${planet.name}</td>
                  <td>${planet.iron.current_iron}</td>
                  <td>${planet.home_planet ? "Home Planet" : ""}</td>
                  <td><button class="btn" @click="selectPlanet(planet)">Select Planet</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-if="selectedPlanet">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">${selectedPlanet.name}</h5>
            <p class="category"><a href="">${selectedPlanet}</a></p>
            <p class="category"><a href="">${selectedPlanet.iron.current_iron}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

{% include 'includes/global-scripts.html' %}

{% endblock javascripts %}
