{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .table-responsive {
      overflow-x: hidden;
      overflow-y: hidden;
    }
  </style>
{% endblock stylesheets %}

{% block content %}

<div class="content">  
  <div class="row pt-5">
    <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
      <div class="card">
        <div class="card-body">
          <blockquote>
            <div class="card-header">
              <h4 class="card-title"> Players</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table tablesorter" id="playerTable">
                  <thead class="text-primary">
                    <tr>
                      <th>Name</th>
                      <th class="text-center">Online</th>
                    </tr>
                  </thead>
                  <tbody id="playerTableBody">
                    <tr v-for="player in players" :key="player.id">
                      <td class="text-center">${player.name}</td>
                      <td class="text-center">
                        <button type="submit" class="btn btn-primary" @click="selectPlayer(player)">Play</button>
                      </td>
                    </tr>
                    <tr v-if="players.length === 0">
                      <td colspan="2">No players found.</td>
                    </tr>
                  </tbody>
                </table>
              </div>    
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{% block javascripts %}


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.min.js"></script>

<script>
  {% comment %} axios.defaults.headers.common['X-CSRFToken'] = document.getElementById('csrf-token').value; {% endcomment %}

  var app = new Vue({
    delimiters: ['${', '}'],
    el: '#app',
    data: {
			players: [],
      newPlayer: {
        name: '',
        username: '',
        email: ''
      }
		},
    selectedPlayer: null,
    mounted() {
      this.fetchPlayers();
    },
    methods: {
      fetchPlayers() {
        axios.get('{% url "api:players-list" %}')
          .then(response => {
            this.players = response.data;
          })
          .catch(error => {
            console.error(error);
          });
      },
      createPlayer() {
        axios.post('{% url "api:players-list" %}', this.newPlayer)
          .then(response => {
            
            this.players.push(response.data);
      
            this.newPlayer = {
              name: '',
              username: '',
              email: ''
            };
          })
          .catch(error => {
            console.error(error);
          });
      },
      selectPlayer(player) {
        axios.get(player.urls.select)
          .then(response => {
              this.player = response.data;
              window.location.href = "/";
          })
          .catch(error => {
              console.error(error);
          });
      }
    }
  });
  
</script>
  
{% endblock javascripts %}
